@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
    --primary-blue: #7395c8;
    --dark-blue: #85a6d5;
    --light-blue: #e7f1ff;
    --black: #212529;
    --white: #ffffff;
    --gray: #6c757d;
    --light-gray: #f8f9fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}
